{% extends "./base.html" %}

{% block title %}
    Homage
{% endblock title %}

{% block content %}
<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center" data-aos="fade-up" data-aos-delay="100">
            <h2><span>I'm </span><span class="underlight">Brighton Chebor</span> an enthusiastic<span> programmer from Pwani University</span></h2>
            <p>I am a pro programmer based in Pwani University to know more about me goto the about page and dont forget to grab my contacts on the contact page too.<br> To traverse to these, go to the options button to the top right section of the page next to my social links.</p>
            <a href="contact.html" class="btn-get-started">I am Available for Colaboration<br></a>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->


      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 justify-content-center">

            </div>
  
</main>
{% endblock content %}